@charset "UTF-8";

@keyframes animacao {
    from {background-color: red;} /* da cor vermelha */
    to {background-color: yellow;} /* para cor amarela */
}



@keyframes animacao2{
    0% {} /* quando estiver no carregamento de 0% faz nada*/
    30% {width: 100px;} /* quando estiver com 30% de carregamento mude a largura para 100px */
    60% {background-color:red;} /* quando estiver com 60% de carregamento mude a cor para vermelho */
    80% {left: 100px; background-color: blue;} /* quando estiver com 80% de carregamento mude para esquerda e cor*/
    100% {height: 100px} /* quando atingir o 100% mude altura para 100px */
}



@keyframes animacao3 {
    from {left: 0;} /* iniciando com nenhuma mudança */
    to {left: 200px; background-color: green;} /* vair correr tamanho de 200px mudando para cor verde */
}



@keyframes animacao4 {
    from {left: 0;}
    to {left: 500px;}
}



@keyframes animacao5{
    0% {left: 0px;}
    25% {left: 20px; background-color: blue;}
    60% {left: 100px; background-color: orange;}
    100% {left: 0px; background-color: red;}
}



.animacao{
    width: 100px;
    height: 100px;
    background-color: rgb(114, 114, 114);
    animation-name: animacao;
    animation-duration: 2s;
}



.animacao2{
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: animacao2; /* nome criado no keyframes precisa ser igual */
    animation-duration: 6s; /* duração da animação */
    position: relative;
}



.animacao3{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    animation-name: animacao3;
    animation-duration: 3s;
    animation-delay: 1s; /* iniciar as animações a partir de 1 segundo */
    animation-iteration-count: infinite; /* realizar a animação infinitivamente*/
}



.box{
    background-color: orange;
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: animacao4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}



#animacao4{
    animation-timing-function: linear ;
}



#animacao5{
    animation-timing-function: ease;
}



#animacao6{
    animation-timing-function: ease-in;
}



#animacao7{
    animation-timing-function: ease-out;
}



#animacao8{
    animation-timing-function: ease-in-out;
}



.animacao9{
    background-color: darkblue;
    width: 50px;
    height: 50px;

    /* shorthand >>> nome, duração, timing-function, delay, iteration */
    animation: animacao5 5s ease 1s infinite;
    position: relative;
}